!!! 5
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
  %body
    %p 
      Hej,
    %p
      Du kan logga in på Codemocracy med länken nedan.
      Länken fungerar bara en gång.
    %p= link_to(@url, @url)
    %p
      Om du inte skickat efter en inloggningslänk kan du ignorera det här meddelandet.
    %p
      Kontakta 
      = mail_to(@contact_email)
      om du har några frågor.
    %p Vänliga hälningar,
    %p - Codemocracy-gänget