%h2 Request login
%p Enter your email address. A one-time login link will be sent out.

= form_tag password_resets_path do
  %p
    %label Email
    = email_field_tag "email"
  %p
    = submit_tag "Send login link"
