!!!
%html
	%head
		%meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
	%body
		%h1 
			Du är nu anmäld till Codemocracy,
			= @registration.name
		%p
			Codemocracy pågår 4-5 september, hos Modul1 på Birger Jarlsgatan 57. 
			Incheckningen börjar kl 08:00, och kl 13 går startskottet för vår hackathon. 
			Se resten av programmet på 
			= link_to(program_url, program_url) + "."
		%p
			Hör av dig till oss om du undrar något. Du når oss på 
			= link_to(@contact_email, "mailto:" + @contact_email) + "."

		%p Tack för din anmälan. Vi ses 4 september!
		%p - Martin, Mathias, Pernilla och Gustaf