#registrations
  - if @user.registrations && @user.registrations.count == 1
    - if @user.email == @user.registrations.first.email
      Du 채r anm채ld
    - else
      Du anm채lde
      = @user.registrations.first.name
  - elsif @user.registrations && @user.registrations.count > 1
    Du anm채lde:
    %ul
      - @user.registrations.each do |registered|
        %li= registered.name
