<div id="details" class="section">
	<h2>Tänker du bygga något? Berätta!</h2>

	<%= render 'edit_form' %>

	<p class="explanation">
		Alla som deltar och bygger tjänster för demokrati och öppenhet har förtur framför 
		andra besökare. Berätta om din idé!
	</p>
	<p class="explanation">
		Vi vill gärna veta vilka som ingår i samma lag, ha fler kontaktuppgifter och &mdash; 
		om ni vet redan nu &mdash; vad ni tänker bygga.
	</p>
</div>
