#details.section
  %h2= t :"registration.edit.header.will_you_hack"

  = render 'edit_form'

  %p.explanation
    Alla som deltar och bygger tjänster för demokrati och öppenhet har förtur framför 
    andra besökare. Berätta om din idé!
  %p.explanation
    Vi vill gärna veta vilka som ingår i samma lag, ha fler kontaktuppgifter och &mdash; 
    om ni vet redan nu &mdash; vad ni tänker bygga.
