#registration.section
	%h2= t :"registration.new.header.register"
	
	.explanation
		%h3= t :"registration.new.header.welcome"
		%p= safe_t :"registration.new.explanation", :date => t(:"common.codemocracy_date_long")
	
	= render 'new_form'
