<div id="registration" class="section">
	<h2><%= t :"registration.new.header.register" %></h2>

	<div class="explanation">
		<h3><%= t :"registration.new.header.welcome" %></h3>
		<p><%= safe_t :"registration.new.explanation", :date => t(:"common.codemocracy_date_long") %></p>
	</div>

	<%= render 'new_form' %>

</div>


<%# link_to 'Back', registrations_path %>
