<div id="registration" class="section">
	<h2>
		Anmäl dig till 
		Codemocracy!
		<!-- <span class="co">Co</span><span class="de">de</span><span class="mocracy">mocracy</span>! -->
	</h2>

	<p class="explanation">
		<strong>Alla är välkomna</strong><br />Vill du bygga tjänster? Eller lyssna, lära 
		och diskutera hur vi ska öppna upp svenska datakällor? Välkommen till 
		Codemocracy <nobr>4&mdash;5</nobr> september.
	</p>

	<%= render 'new_form' %>

</div>


<%# link_to 'Back', registrations_path %>
