<<<<<<< HEAD
<section>
  <div>
    <h2>Det händer saker när öppna datakällor sätts i händerna på engagerade utvecklare.</h2>
  </div>
  <div>
    <h2>I september 2010 samlades 50 utvecklare för att bygga nya tjänster på öppen data under en helg. Det blev succé. I år gör vi det igen!</h2>
  </div>
  <div>
    <p>
      Kom och delta eller kom som besökare. På Codemocracy tar sig utvecklare, entreprenörer och designers an utmaningen att skapa nya tjänster på 24 timmar. Svenska datakällor börjar sakta men säkert öppnas upp. Är du utvecklare? Kom och visa vilken skillnad ett litet team av smarta, engagerade människor med idéer kan åstadkomma. Är du en av de pådrivande hjältarna inom myndighetssverige? Kom och få inspiration, och få upp ögonen för vad som är möjligt om vi bara öppnar våra datakällor.
    </p>
  </div>
  <div>
    <h2>Anmäl dig till Codemocracy 2011! Boka in 19-20 november.</h2>
  </div>
</section>
<section>
  <p>lorem lalala lololo</p>
  <%= form_for @user do |f| %>
    <% f.text_field :email, :placeholder => "E-post" %>
  <% end %>

  <ul>
    <li><img src="http://farm5.static.flickr.com/4108/4960552205_f8e570cc2b.jpg" alt="Lagen presenterar sina verk" /></li>
    <li><img src="http://farm5.static.flickr.com/4153/4956492511_444f1401e4.jpg" alt="Idéer tar form – Popdevelop skissar på sitt bidrag" /></li>
    <li><img src="http://farm5.static.flickr.com/4103/4960579531_6540b2967a.jpg" alt="Diagram över våra politiska representanters engagemang" /></li>
    <li><img src="http://farm5.static.flickr.com/4154/4978590571_f2b4af3a63.jpg" alt="Kollektivt.se – 2010 års vinnarbidrag från Popdevelop" /></li>
  </ul>
</section>

