<h1>Codemocracy</h1>

<p>
  <strong>Kombinationen av öppna datakällor och engagerade utvecklare är kraftfull.</strong>
  Under en helg i september 2010 samlades 50 utvecklare för att bygga nya tjänster på öppen data. I år gör vi det igen!
</p>

<p>
  Anmäl dig till Codemocracy 2011! Boka in 3-4 september.
</p>

<% flash.each do |type, message| %>
  <div class="flash <%= type %>">
    <p><%= message %></p>
  </div>
<% end %>

<%= form_for @user do |f| %>
  <% f.text_field :email, :placeholder => "E-post" %>
<% end %>

<ul>
  <li><img src="http://farm5.static.flickr.com/4108/4960552205_f8e570cc2b.jpg" alt="Lagen presenterar sina verk" /></li>
  <li><img src="http://farm5.static.flickr.com/4153/4956492511_444f1401e4.jpg" alt="Idéer tar form – Popdevelop skissar på sitt bidrag" /></li>
  <li><img src="http://farm5.static.flickr.com/4103/4960579531_6540b2967a.jpg" alt="Diagram över våra politiska representanters engagemang" /></li>
  <li><img src="http://farm5.static.flickr.com/4154/4978590571_f2b4af3a63.jpg" alt="Kollektivt.se – 2010 års vinnarbidrag från Popdevelop" /></li>
</ul>

