= render :partial => "projects_nav"
#projects.section
  %h2 Boreda @ Codemocracy
  %p#team
    %strong Boreda
    bestod av Joakim Möller och Faheem Ramzan
  %p
    Boredas bidrag hjälper dig hitta bostad baserat på hur mycket du har råd med och på pendelavstånd i 
    kollektivtrafiken. Kombinera flera platser, så tar tjänsten hänsyn till hela familjen. Just nu 
    för göteborgsområdet då de använder data från Västtrafik.
  %p
    Boreda <a href="http://boreda.wordpress.com/2010/09/07/sok-bostadsratt-med-planboken/">skriver mer 
    om tjänsten</a> i sin blogg och har gjort en screencast:
  .movie
    %object{:width => "640", :height => "505"}
      %param{:name => "movie", :value => "http://www.youtube.com/v/M5wNotlZk7Q?fs=1&amp;hl=en_US"}
      %param{:name => "allowFullScreen", :value => "true"}
      %param{:name => "allowscriptaccess", :value => "always"}
      %embed{:src => "http://www.youtube.com/v/M5wNotlZk7Q?fs=1&amp;hl=en_US",
        :type => "application/x-shockwave-flash",
        :allowscriptaccess => "always",
        :allowfullscreen => "true",
        :width => "640",
        :height => "505"}
    %p 
      %a{:href => "http://boreda.wordpress.com/2010/09/07/sok-bostadsratt-med-planboken/"}
        Boreda om projektet
  .image.screenshot
    %img{:src => "http://farm5.static.flickr.com/4088/4964009488_3967f7c8b8_z.jpg",
      :alt => "Screenshot av Boreda @ Codemocracy",
      :width => "640", :height => "404"}
    %p Boreda @ Codemocracy
  .image
    %a{:href => "http://bambuser.com/channel/modul1/broadcast/1000808"}
      %img{:src => "http://farm5.static.flickr.com/4092/4961180608_b3a011a1bf_z.jpg",
        :alt => "Presentation av Boreda",
        :width => "640", :height => "427"}
      %p Joakim Möller presenterar
    
