= render :partial => "projects_nav"
#projects.section
  %h2 CrimeTracker
  %p#team
    %strong Exjobbarna
    bestod av x, y och z
  %p
    Laget skapade en Windows Mobile-app som visar vilka brott som begåtts i området du befinner dig i.
    Du kan också välja en rutt och se hur farligt det är utmed vägen. 