= render :partial => "projects_nav"
#projects.section
  %h2 CrimeTracker
  %p#team
    %strong Exjobbarna
    bestod av Oskar Dahlström, Hjalmar Wallander och Johan Dahlbäck
  %p
    Laget skapade en Windows Phone-app som visar vilka typer av brott som begåtts i området du befinner 
    dig i. Du kan också välja en rutt och se hur farligt det är utmed vägen. Risken att utsättas för brott
    är olika för olika tider på dygnet, och CrimeTracker visar därför vilken andel som inträffat vid den 
    tid du kollar.
  %p Dataunderlaget är tagen från Polisens hemsida, via ett något förädlat API.
  
  .image.screenshot
    %img{:src => "http://farm5.static.flickr.com/4144/4963591406_a2f752fd06_z.jpg",
      :alt => "Skärmdump av CrimeTracker (1 av 2)",
      :width => "354", :height => "640"}
    %img{:src => "http://farm5.static.flickr.com/4154/4963591578_e12a8c2b7c_z.jpg",
      :alt => "Skärmdump av CrimeTracker (2 av 2)",
      :width => "354", :height => "640"}
    %p CrimeTracker
  .image
    %a{:href => "http://bambuser.com/channel/modul1/broadcast/1000818"}
      %img{:src => "http://farm5.static.flickr.com/4147/4960589571_dfc224156c_z.jpg", 
        :alt => "Presentation av CrimeTracker",
        :width => "640", :height => "427"}
      %p Exjobbarna presenterar