= render :partial => "projects_nav"
#projects.section
  %h2 Edemokrat.se
  %p#team
    %strong Kreativ Stuga
    bestod av 
    %span.nobr Marcus Österberg, 
    %span.nobr Filip Andersson, 
    %span.nobr Sebastian Westling, 
    %span.nobr Markus Sundin, 
    %span.nobr Julius Petersson, 
    %span.nobr Jesper Lind 
    och 
    %span.nobr Johan Säll Larsson
  %p
    Kreativ Stuga, med råge det största laget, var ambitiösa. De har gjort Riksdagens arbete tillgängligt
    och socialt på <a href="http://edemokrat.se">Edemokrat.se</a>. Tjänsten är en slags reddit eller digg 
    för riksdagens dokument. Förutom att vi får tycka till om varje handling gör edemokrat.se också processen 
    kring dem synlig genom att lägga på metadata om hur dokument relaterar till varandra och till
    politiker.

  .image.screenshot
    %a{:href => "http://edemokrat.se"}
      %img{:src => "http://farm5.static.flickr.com/4143/4983043048_089d37c23b_z.jpg", 
        :alt => "Skärmdump av Edemokrat.se", 
        :width => "640", :height => "441"}
      %p Edemokrat.se
  .image
    %a{:href => "http://bambuser.com/channel/modul1/broadcast/1000870"}
      %img{:src => "http://farm5.static.flickr.com/4109/4961208968_c829c9d4c1_z.jpg",
        :alt => "Foto från presentationen",
        :width => "640", :height => "427"}
      %p Kreativ Stuga presenterar