= render :partial => "projects_nav"
#projects.section
  %h2 Engagemangsindex
  %p#team
    %strong First Blood
    bestod av Markus Nordin, Andreas Fliesberg och Olle Svensson
  %p
    Team First Blood tog sig an att åskådliggöra vilka frågor som engagerar våra politiker genom att 
    analysera data från Riksdagens API. Resultatet presenteras som ett 
    <a href="http://mnordin.net/codemocracy">engagemangsindex</a>, och visualiseras på olika sätt.
  .image.screenshot
    %a{:href => "http://mnordin.net/codemocracy"}
      %img{:src => "http://farm5.static.flickr.com/4154/4979164879_69be7d97ac_z.jpg",
        :alt => "Skärmdump av Engagemangsindex"}
      %p Engagemangsindex
  .image
    %a{:href => "http://bambuser.com/channel/modul1/broadcast/1000798"}
      %img{:src => "http://farm5.static.flickr.com/4103/4960579531_6540b2967a_z.jpg",
        :alt => "Presentationen av Engagemangsindex"}
      %p First Blood presenterar