= render :partial => "projects_nav"
#projects.section
  %h2 Kollektivt.se
  %p#team
    %strong Popdevelop
    bestod av Johan Brissmyr, Joel Larsson, Johan Gyllenspetz och Sebastian Wallin
  %p
    Popdevelop läste in data från Skånetrafiken och skapade ett <a href="http://kollektivt.se/api">API 
    som ger realtidsinformation</a> om var bussar i Malmö befinner sig. De använde sedan sitt API för 
    att <a href="http://kollektivt.se">visa malmöbussarna</a> på en interaktiv karta.
  %p
    <a href="http://twitter.com/pelles">Pelle Sten</a> intervjuade Popdevelop om Kollektivt.se, och lade upp 
    <a href="http://inuseful.se/popdevelops-realtidskarta-for-bussar-vann-pa-forsta-codemocracy">text och 
    film på bloggen inuseful</a>.
  
  .movie
    %object{ :width => "640", :height => "385" }
      %param{ :name => "movie", :value => "http://www.youtube.com/v/KDc7oUMUNC0&rel=0&border=1&color1=0xb1b1b1&color2=0xd0d0d0&hl=sv_SE&feature=player_embedded&fs=1" }
      %param{ :name => "allowFullScreen", :value => "true" }
      %param{ :name => "allowScriptAccess", :value => "always" }
      %embed{ :src => "http://www.youtube.com/v/KDc7oUMUNC0&rel=0&border=1&color1=0xb1b1b1&color2=0xd0d0d0&hl=sv_SE&feature=player_embedded&fs=1",
        :type => "application/x-shockwave-flash",
        :allowfullscreen => "true", 
        :allowScriptAccess => "always", 
        :width => "640", 
        :height => "385"}
    %p
      %a{:href => "http://inuseful.se/popdevelops-realtidskarta-for-bussar-vann-pa-forsta-codemocracy"}
        Pelle Sten intervjuar Popdevelop om Kollektivt.se
  
  .screenshot.image
    %a{ :href => "http://kollektivt.se" }
      %img{ :src => "http://farm5.static.flickr.com/4154/4978590571_f2b4af3a63_z.jpg",
        :alt => "Skärmavbild av Kollektivt.se" }
      %p Kollektivt.se
  .image
    %a{:href => "http://bambuser.com/channel/modul1/broadcast/1000781"}
      %img{ :src => "http://farm5.static.flickr.com/4096/4961169782_d135a0c1a6_z.jpg",
        :alt => "Foto från presentationen av Kollektivt.se" }
      %p Johan, Joel, Johan och Sebastian presenterar

