= render :partial => "projects_nav"
#projects.section
  %h2 Lokalpolitik - vad bestäms nära dig?
  %p#team
    %strong Slumptal
    bestod av 
    <a href="http://twitter.com/kalasjocke">Joakim Ekberg</a>, 
    <a href="http://twitter.com/EmilStenstrom">Emil Stenström</a> 
    och 
    <a href="http://twitter.com/jonasl">Jonas Lejon</a>
  %p
    Joakim, Emil och Jonas skapade en sökmotor för att <strong>hitta lokala beslutsdokument</strong> som rör din gata eller stadsdel i 
    Stockholms Stad. Sök på din adress och få ut en lista på ärenden som rör just ditt område. De tog ut alla beslutsdokumenten från 
    Stockholms Stads hemsida och analyserat dem, för att hitta namn på platser i staden.<br />
    Resultatet, <a href="http://www.lokalpolitik.se">Lokalpolitik.se</a>, är en tjänst som låter den nyfikne medborgaren lätt ta reda på 
    vad politiker har för planer i närområdet, eller vad byggnadsställningarna utanför huset betyder.
  .screenshot.image
    %a{:href => "http://www.lokalpolitik.se"}
      %img{ :src => "http://farm5.static.flickr.com/4147/4963827750_0803d5b614_z.jpg",
        :alt => "Skärmavbild av Lokalpolitik - vad bestäms nära dig" }
      %p Lokalpolitik - vad bestäms nära dig?
  .image
    %a{:href => "http://bambuser.com/channel/modul1/broadcast/1000769"}
      %img{ :src => "http://farm5.static.flickr.com/4084/4961161982_c337ae3278_z.jpg",
        :alt => "Foto från presentationen" }
      %p Emil och Joakim presenterar

  