= render :partial => "projects_nav"
#projects.section
  %h2 @Myndighetskoll
  %p#team
    %strong New and shiny things
    bestod av Henrik Johansson och Fredrik Rubensson
  %p 
    Henrik och Fredrik skapade en twitterbot, <a href="http://twitter.com/myndighetskoll">@Myndighetskoll</a> som kan 
    <a href="http://newandshinythings.appspot.com/myndighet/om.html">svara på frågor om olika myndigheter</a>. Underliggande 
    data hämtades från Statistiska Centralbyråns allmänna myndighetsregister. Myndighetskoll lyssnar efter frågor ställda till 
    den på twitter, exempelvis "@Myndighetskoll skatteverket: adress", eller "@Myndighetskoll valmyndigheten: orgno". 
  %p
    Av bara farten blev det också ett <a href="http://newandshinythings.appspot.com/myndighet/">API mot datat i XML-form</a>.
  .screenshot.image
    %a{:href => "http://twitter.com/myndighetskoll"}
      %img{ :src => "http://farm5.static.flickr.com/4113/4978534315_28acf7a651_z.jpg",
        :alt => "Skärmavbild av Myndighetskoll" }
      %p @Myndighetskoll
  .image
    %a{:href => "http://bambuser.com/channel/modul1/broadcast/1000777"}
      %img{ :src => "http://farm5.static.flickr.com/4153/4960568845_a1b4b221a3_z.jpg", 
        :alt => "Foto från presentationen av Myndighetskoll" }
      %p Henrik och Fredrik presenterar
