= render :partial => "projects_nav"
#projects.section
  %h2 Svenska Riksdagen på Facebook
  %p#team
    Laget
    bestod av Johan Thorsson, David Blomberg, Erik Forsandree och Rikard Berg

  %p 
    Johan, David, Erik och Rikard för politikerna närmre folket genom att lägga ut 
    <a href="http://www.facebook.com/#!/pages/Svenska-Riksdagen/111755165547603">Riksdagen på Facebook</a>. 
    De hämtar uppgifter om vad våra riksdagsledamöter har för sig, genom Riksdagens API, och låter 
    dem tala om det på Facebook. 
    
  %p
    De skapade också en iPhone-app på samma tema som vi hoppas kommer till AppStore.
  %p.screenshot.image
    %a{:href => "http://www.facebook.com/#!/pages/Svenska-Riksdagen/111755165547603"}
      %img{ :src => "http://farm5.static.flickr.com/4089/4979697384_50c943a245_z.jpg",
        :alt => "Skärmavbild av Svenska Riksdagen på Facebook" }
  %p.image
    %img{ :src => "http://farm5.static.flickr.com/4091/4960577409_1f46e2d4d4_z.jpg", 
      :alt => "Foto från presentationen" }
