= render :partial => "projects_nav"
#projects.section
  %h2 Riksdagsdata i Ply
  %p#team
    %strong Existic
    bestod av <a href="http://twitter.com/mattiask">Mattias Konradsson</a>
  %p
    Mattias skrev ett sökverktyg som gjorde att man i realtid kunde söka igenom, visualisera, 
    och läsa riksdagens arkiv av dokument med en rad olika kriterier och funktioner.
    
  .image
    %a{:href => "http://bambuser.com/channel/modul1/broadcast/1000836"}
      %img{:src => "http://farm5.static.flickr.com/4149/4961197448_294018bd0c_z.jpg",
        :alt => "Mattias presenterar sitt plugin",
        :width => "640", :height => "427"}
      %p Mattias presentation