= render :partial => "projects_nav"
#projects.section
  %h2 Riksdagsdata i Ply
  %p#team
    %strong Existic
    bestod av Mattias Konradsson
  %p
    Mattias skrev ett sökverktyg som gjorde att man i realtid kunde söka igenom, visualisera, 
    och läsa riksdagens arkiv av dokument med en rad olika kriterier och funktioner.