= render :partial => "projects_nav"
#projects.section
  %h2 Tågtider till Android
  %p#team
    %strong Anyro
    bestod av Adam Nybäck
  %p
    Adam tyckte att det saknades Android-appar för att visa tåginformation, så han skrev en 
    under Codemocracy. Bäst API hade <a href="http://twitter.com/ptz0n">Erik Petterssons</a> 
    tjänst <a href="http://tagtider.net/">Tågtider</a>, men dessvärre var inte API:et klart. 
    När Erik dök upp på Codemocracy för att färdigställa sitt API fick Adams projekt nytt liv. 
    Det är vad vi kallar förstklassig support.
  %p 
    Slutresultatet ska bli en Android-app som låter dig bevaka avgångar, och skickar dig SMS
    om tåget drabbas av några trafikstörningar.
  
  .image
    %a{:href => "http://bambuser.com/channel/modul1/broadcast/1000824"}
      %img{:src => "http://farm5.static.flickr.com/4150/4960594251_69382e03fa_z.jpg", 
        :alt => "Adam presenterar Tågtider för Android",
        :width => "640", :height => "427"}
      %p Adam presenterar
    