= render :partial => "projects_nav"
#project.section
  %h2 Valkoll – Android-app
  %p#team
    %strong Slagkryssaren
    bestod av Erik Rehn och Björn Dahlgren
  %p 
    Erik och Björn byggde <a href="http://www.valkoll.se">Valkoll &mdash; Android-applikation som åskådliggör valresultat</a>. 
    I grunden ligger data från valmyndigheten, ner på valdistriktsnivå. Med hjälp av telefonens position kan du se hur folk har 
    röstat i området där du befinner dig. Ta fram den på bussen och se hur olika rösterna lades utmed vägen.

  %p.screenshot.image
    %a{:href => "http://www.valkoll.se"}
      <img src="http://farm5.static.flickr.com/4147/4978493783_7787e63d19_z.jpg" alt="Skärmavbild, Valkoll" /><br />

  %p.image
    <img src="http://farm5.static.flickr.com/4106/4960560355_5a36d98f0e_z.jpg" alt="Erik och Björn presenterar Valkoll" /><br />
