## This YAML file contains all app-specific configuration

development:
  mailer:
    domain: 'example.com'
    user_name: 'user@example.com'
    password: 'secret_password'
  secret_token: 'you_should_generate_a_random_string_of_alphanumeric_characters_and_put_here'
  session_key: '_example_dev_session'

test:
  mailer:
    domain: 'example.com'
    user_name: 'user@example.com'
    password: 'secret_password'
  secret_token: 'you_should_generate_a_random_string_of_alphanumeric_characters_and_put_here'
  session_key: '_example_test_session'

production:
  mailer:
    domain: 'example.com'
    user_name: 'user@example.com'
    password: 'secret_password'
  secret_token: 'you_should_generate_a_random_string_of_alphanumeric_characters_and_put_here'
  session_key: '_example_prod_session'