<section>
  <h2>Edemokrat.se</h2>
  <p id="team">
    <strong>Kreativ Stuga</strong>
    bestod av
    <span class="nobr">Marcus Österberg,</span>
    <span class="nobr"><a href="http://filipandersson.se/">Filip Andersson</a>,</span>
    <span class="nobr">Sebastian Westling,</span>
    <span class="nobr">Markus Sundin,</span>
    <span class="nobr">Julius Petersson,</span>
    <span class="nobr"><a href="http://twitter.com/nodestar">Jesper Lind</a></span>
    och
    <span class="nobr">Johan Säll Larsson</span>
  </p>
  <p id="description">
    Kreativ Stuga, med råge det största laget, var ambitiösa. De har gjort Riksdagens arbete tillgängligt
    och socialt på <a href="http://edemokrat.se">Edemokrat.se</a>. Tjänsten är en slags reddit eller digg
    för riksdagens dokument. Förutom att vi får tycka till om varje handling gör edemokrat.se också processen
    kring dem synlig genom att lägga på metadata om hur dokument relaterar till varandra och till
    politiker.
  </p>
  <div class="image screenshot">
    <a href="http://edemokrat.se">
      <img alt="Skärmdump av Edemokrat.se" height="441" src="http://farm5.static.flickr.com/4143/4983043048_089d37c23b_z.jpg" width="640" />
      <p>Edemokrat.se</p>
    </a>
  </div>
  <div class="image">
    <a href="http://bambuser.com/channel/modul1/broadcast/1000870">
      <img alt="Foto från presentationen" height="427" src="http://farm5.static.flickr.com/4109/4961208968_c829c9d4c1_z.jpg" width="640" />
      <p>Kreativ Stuga presenterar</p>
    </a>
  </div>
</section>
