<section>
  <h2>Engagemangsindex</h2>
  <p id="team">
    <strong>First Blood</strong>
    bestod av
    <a href="http://twitter.com/mnordin">Markus Nordin</a>,
    <a href="http://twitter.com/antte">Andreas Fliesberg</a> och
    <a href="http://twitter.com/0llib0lli">Olle Svensson</a>
  </p>
  <p id="description">
    Team First Blood tog sig an att åskådliggöra vilka frågor som engagerar våra politiker genom att
    analysera data från Riksdagens API. Resultatet presenteras som ett
    <a href="http://mnordin.net/codemocracy">engagemangsindex</a>, och visualiseras på olika sätt.
  </p>
  <div class="image screenshot">
    <a href="http://mnordin.net/codemocracy">
      <img alt="Skärmdump av Engagemangsindex" src="http://farm5.static.flickr.com/4154/4979164879_69be7d97ac_z.jpg" />
      <p>Engagemangsindex</p>
    </a>
  </div>
  <div class="image">
    <a href="http://bambuser.com/channel/modul1/broadcast/1000798">
      <img alt="Presentationen av Engagemangsindex" src="http://farm5.static.flickr.com/4103/4960579531_6540b2967a_z.jpg" />
      <p>First Blood presenterar</p>
    </a>
  </div>
</section>
