<section>
  <h2>Georapport</h2>
  <p id="team">
    <strong>Akvo Phone</strong>
    bestod av Gabriel von Heijne och Stellan Lagerström.
  </p>
  <p id="description">
    Laget är engagerade i <a href="http://akvo.org">Akvo</a>, som för samman biståndsprojekt och
    finansiärer för att lösa tillgången till rent vatten. De frågade sig hur man kan göra rapporter
    från fältet tillförlitliga. Om rapporten alltid åtföljs av tid, plats och en bild är den lättare
    att lita på, tänkte de, och byggde en Android-app. Appen skickar bara rapporten om den har ett foto,
    en GPS-position och tidpunkten.
  </p>
  <p>
    Georapporter kan också vara intressant att använda här, för att låta invånare rapportera in brister
    till berörda myndigheter.
  </p>
  <div class="image">
    <a href="http://bambuser.com/channel/modul1/broadcast/1000858">
      <img alt="Foto från Akvo Phones presentation" height="427" src="http://farm5.static.flickr.com/4110/4961202428_63076e1061_z.jpg" width="640" />
      <p>Akvo Phones presentation</p>
    </a>
  </div>
</section>
