<section>
  <h2>Detta skapades på Codemocracy 2010</h2>
  <p>
    Under en helg i september 2010 samlades 50 utvecklare för att bygga nya tjänster på öppen data.
    Kombinationen av öppna datakällor och engagerade utvecklare är kraftfull. På bara 24 timmar
    skapades flera spännande projekt. Här är vad lagen byggde:
  </p>
  <ul>
    <li>Slagkryssaren: <a href="/projects/valkoll">Valkoll - en Android-app</a></li>
    <li>Slumptal: <a href="/projects/lokalpolitik">Lokalpolitik - vad bestäms nära dig?</a></li>
    <li>New and shiny things: <a href="/projects/myndighetskoll">@Myndighetskoll</a></li>
    <li>Popdevelop: <a href="/projects/kollektivt">Kollektivt.se</a></li>
    <li>Facebookpolitik: <a href="/projects/riksdagen_pa_facebook">Svenska Riksdagen på Facebook</a></li>
    <li>First Blood: <a href="/projects/engagemangsindex">Engagemangsindex</a></li>
    <li>Boreda: <a href="/projects/boreda_at_codemocracy">Boreda @ Codemocracy</a></li>
    <li>Exjobbarna: <a href="/projects/crime_tracker">CrimeTracker</a></li>
    <li>Anyro: <a href="/projects/tagtider">Tågtider till Android</a></li>
    <li>Existic: <a href="/projects/riksdagen_i_ply">Riksdagsdata i Ply</a></li>
    <li>Akvo Phone: <a href="/projects/georapport">Georapport</a></li>
    <li>Kreativ Stuga: <a href="/projects/edemokrat">Edemokrat.se</a></li>
  </ul>
  <h3>Codemocracy i media</h3>
  <ul>
    <li>
      Dagens Industri ägnade fredagen innan helgen en helsida åt Codemocracy och öppen data.
      Anders Thuresson, författaren, har
      <a href="http://anders.thoresson.net/publicerat/dagens-industri/svensk-offentlighet-ska-bli-lonsamma-tjanster/">publicerat texten online</a>.
    </li>
    <li>
      Computer Sweden skrev på måndagen efter om Codemocracy och om
      <a href="http://www.idg.se/2.1085/1.337904/de-programmerar-for-demokratin">vad som skapades under helgen</a>.
    </li>
    <li>
      Bloggen <a href="http://inuseful.se">inuseful</a> lade ut två intervjuer med text och film: med
      <a href="http://inuseful.se/peter-krantz-pa-codemocracy-riksdagen-har-gjort-ett-jattekliv">Peter Krantz</a>
      och med vinnande laget
      <a href="http://inuseful.se/popdevelops-realtidskarta-for-bussar-vann-pa-forsta-codemocracy">Popdevelop</a>.
    </li>
  </ul>
  <h3>Bilder och video från Codemocracy</h3>
  <p>
    Våra livesändningar finns samlade i
    <a href="http://bambuser.com/channel/modul1">Modul 1:s Bambuser-kanal</a>.
  </p>
  <p>
    Du hittar
    <a href="http://www.flickr.com/groups/codemocracy">foton från Codemocracy</a>
    i vår Flickr-grupp.
    De flesta bilderna har Creative Commons-licens (CC-BY) och får gärna användas.
  </p>
  <h3>Mer från Codemocracy</h3>
  <p>
    Helgen inleddes med några presentationer. De sändes på Bambuser, och går att se i efterhand.
    Presentationerna finns också på SlideShare.
  </p>
  <ul>
    <li>
      Peter Krantz: Öppen data i Sverige, kort statusrapport
      <ul>
        <li><a href="http://www.slideshare.net/peterkz/ppen-data-status-codemocracy">SlideShare</a></li>
        <li><a href="http://bambuser.com/channel/modul1/broadcast/998470">Bambuser</a></li>
      </ul>
    </li>
    <li>
      Viktoriainstitutet: Trafikdata för hållbart resande, och SLs APIer för trafikinformation
      <ul>
        <li><a href="http://www.slideshare.net/rudmark/codemocracy-viktoria">SlideShare, hållbart resande</a></li>
        <li><a href="http://www.slideshare.net/rudmark/s-ls-apier">SlideShare, SL</a></li>
        <li><a href="http://bambuser.com/channel/modul1/broadcast/998501">Bambuser</a></li>
      </ul>
    </li>
    <li>
      Mathias Ekman: Offentliga Data, Plattform för innovation och medborgarnytta
      <ul>
        <li><a href="http://www.slideshare.net/MathiasEkman/100817-codemocracy-offentliga-data">SlideShare</a></li>
        <li><a href="http://bambuser.com/channel/modul1/broadcast/999149">Bambuser</a></li>
      </ul>
    </li>
  </ul>
  <p>
    Kontakta
    <a href="mailto:daniel@viktoria.se">Daniel</a>,
    <a href="mailto:per-erik.holmberg@viktoria.se">Per-Erik</a>
    och
    <a href="mailto:elias@viktoria.se">Elias</a>
    om du har frågor om trafikdatan de presenterade. Peter Krantz hittar du på exempelvis
    <a href="http://opengov.se">opengov.se</a>.
    Mathias var med och arrangerade Codemocracy, och jobbar på
    <a href="http://www.modul1.se">Modul 1</a>.
  </p>
</section>
