<section>
  <h2>Tågtider till Android</h2>
  <p id="team">
    <strong>Anyro</strong>
    bestod av <a href="http://twitter.com/nadam9">Adam Nybäck</a>
  </p>
  <p id="description">
    Adam tyckte att det saknades Android-appar för att visa tåginformation, så han skrev en
    under Codemocracy. Bäst API hade <a href="http://twitter.com/ptz0n">Erik Petterssons</a>
    tjänst <a href="http://tagtider.net/">Tågtider</a>, men dessvärre var inte API:et klart.
    När Erik dök upp på Codemocracy för att färdigställa sitt API fick Adams projekt nytt liv.
    Det är vad vi kallar förstklassig support.
  </p>
  <p>
    Slutresultatet blev <a href="https://market.android.com/details?id=se.anyro.tagtider">en Android-app</a>
    som låter dig bevaka avgångar, och skickar dig SMS om tåget drabbas av några trafikstörningar.
  </p>
  <div class="image screenshot">
    <a href="https://market.android.com/details?id=se.anyro.tagtider">
      <img alt="Skärmdump av Tågtider för Android (1 av 2)" height="480" src="http://farm5.static.flickr.com/4036/5121357404_d36a01acb1.jpg" width="320" />
      <img alt="Skärmdump av Tågtider för Android (2 av 2)" height="480" src="http://farm2.static.flickr.com/1065/5121357316_1a4483dd68.jpg" width="320" />
      <p>Tågtider för Android</p>
    </a>
  </div>
  <div class="image">
    <a href="http://bambuser.com/channel/modul1/broadcast/1000824">
      <img alt="Adam presenterar Tågtider för Android" height="427" src="http://farm5.static.flickr.com/4150/4960594251_69382e03fa_z.jpg" width="640" />
      <p>Adam presenterar</p>
    </a>
  </div>
</section>
