<section>
  <h2>Valkoll – Android-app</h2>
  <p id="team">
    <strong>Slagkryssaren</strong>
    bestod av Erik Rehn och <a href="http://twitter.com/dahlgren">Björn Dahlgren</a>
  </p>
  <p id="description">
    Erik och Björn byggde <a href="http://www.valkoll.se">Valkoll &mdash; Android-applikation som åskådliggör valresultat</a>.
    I grunden ligger data från valmyndigheten, ner på valdistriktsnivå. Med hjälp av telefonens position kan du se hur folk har
    röstat i området där du befinner dig. Ta fram den på bussen och se hur olika rösterna lades utmed vägen.
  </p>
  <div class="screenshot image">
    <a href="http://www.valkoll.se">
      <img alt="Skärmavbild, Valkoll" src="http://farm5.static.flickr.com/4147/4978493783_7787e63d19_z.jpg" />
      <p>Valkoll</p>
    </a>
  </div>
  <div class="image">
    <a href="http://bambuser.com/channel/modul1/broadcast/1000755">
      <img alt="Erik och Björn presenterar Valkoll" src="http://farm5.static.flickr.com/4106/4960560355_5a36d98f0e_z.jpg" />
      <p>Erik och Björn presenterar Valkoll</p>
    </a>
  </div>
</section>
