#about.section
  %h2 Om <span class="co">Co</span><span class="de">de</span><span class="mocracy">mocracy</span>
  %p
    Codemocracy är ett 
    = link_to "hackathon", "http://en.wikipedia.org/wiki/Hackathon"
    med temat demokrati och öppenhet. Det pågår under 24 timmar 
    4&mdash;5&nbsp;september.
  %p
    Vi vill slå ett slag för tillgången till öppna, offentliga datakällor. Vi bjuder in alla 
    deltagare att använda API:er från myndigheter, politiska organ och privata företag för att skapa 
    någonting nytt.
  %p
    Vi som arrangerar Codemocracy är:
  %ul
    %li <a href="mailto:martin@codemocracy.se">Martin Svalin</a>
    %li <a href="mailto:mathias@codemocracy.se">Mathias Ekman</a>
    %li <a href="mailto:pernilla@codemocracy.se">Pernilla Kuniholm</a>	
    %li <a href="mailto:gustaf@codemocracy.se">Gustaf von Dewall</a>
  %p
    Har du en fråga? Kontakta Martin Svalin: <br /> 
    <a href="mailto:martin@codemocracy.se">E-post</a>, 
    <a href="http://twitter.com/martinsvalin">Twitter</a> eller 
    %span.nowrap telefon:&nbsp;0709-385558
