#home.section
  %h2 Välkommen till <span class="co">Co</span><span class="de">de</span><span class="mocracy">mocracy</span>
  
  %p 
    Codemocracy pågår just nu, 4&mdash;5 september. Vi är på Birger Jarlsgatan 57. 
    Ring Martin, 0709-385558, om du vill komma in.
    
  %p
    Kl 10:30 på lördagen inleder vi med några TechTalks. Vi tänkte webbsända det, och även 
    presentationerna på söndag. Titta i 
    = link_to "programmet", program_path
    och oss på Bambuser:
    = link_to "http://bambuser.com/node/1073913", "http://bambuser.com/node/1073913"
    
  %p
    Titta gärna förbi!
