#home.section
  %h2 Välkommen till <span class="co">Co</span><span class="de">de</span><span class="mocracy">mocracy</span>
  
  %p 
    Codemocracy pågår just nu, 4&mdash;5 september. Vi är på Birger Jarlsgatan 57. 
    Ring Martin, 0709-385558, om du vill komma in.
    
  %p
    Kl 10:30 på lördagen inleder vi med några TechTalks. Det 
    
    = link_to("sändes på bambuser", "http://bambuser.com/node/1073913") + ","
    vilket vi även 
    planerar göra med presentationerna på söndag. 
    Ta en titt i 
    = link_to "programmet", program_path
    för tider.
    
  %p
    Kolla också in bilderna som vi samlar i flickr-gruppen:
    = link_to "www.flickr.com/groups/codemocracy", "http://www.flickr.com/groups/codemocracy"
    
  %p
    Titta gärna förbi!
