#program.section
	%h2 Program 4&mdash;5 sept
	
	%h3 Lördag
	%table
		%tr<
			%td> 08:00&mdash;10:00
			%td Incheckning
		%tr<
			%td> 10:00&mdash;10:30
			%td Välkomna
		%tr<
			%td> 10:30&mdash;11:45
			%td Tech-talks om tillgängliga API:er
		%tr<
			%td> 11:45&mdash;12:45
			%td Lunch
		%tr<
			%td> 
				%strong> 13:00
			%td 
				%strong> Startskott!
		%tr<
			%td> 13:30&mdash;16:30
			%td Seminarie, paneldebatt
		%tr<
			%td> 18:00&mdash;19:00
			%td Middag
	
	%h3 Söndag
	%table
		%tr<
			%td> 06:00&mdash;08:00
			%td Frukost serveras
		%tr<
			%td>
				%strong> 13:00
			%td
				%strong> Mållinjen
		%tr<
			%td> 13:15&mdash;15:30
			%td Presentationer (5 min per lag)
		%tr<
			%td> ca 15:45
			%td Prisutdelning