%h1
  %a{:href => root_path}
    %span.co> Co
    %span.de> de
    %span.mocracy> mocracy

%p#time_and_date
  != t :"common.codemocracy_date_short"
  @ 
  %a{:href => "http://maps.google.com/maps?f=q&source=s_q&hl=en&geocode=&q=modul+1+birger+jarlsgatan+57&sll=37.0625,-95.677068&sspn=43.934478,68.203125&ie=UTF8&hq=modul+1+birger+jarlsgatan+57&hnear=&radius=15000&ll=59.343344,18.064613&spn=0.10661,0.266418&z=12&iwloc=A"} Birger Jarlsgatan 57
