<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Codemocracy</title>
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="container">
      <header>
        <h1>Codemocracy 2011</h1>
      </header>
      <%= yield %>
    </div>
  </body>
</html>
