<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Codemocracy</title>
	<%= stylesheet_link_tag "application.css" %>
</head>
<body>
	<div id="wrapper">
		<header>
			<h1>
				<%= link_to root_url do %>
				<span class="co">Co</span><span class="de">de</span><span class="mocracy">mocracy</span>
				<% end %>
			</h1>
			<p id="time_and_date">
				4&mdash;5&nbsp;sept 
				@ 
				<a href="#map">Modul&nbsp;1</a>
			</p>
			<nav>
				<ul>
					<li><%= link_to "Anmälan", new_registration_path %></li>
					<li><a href="#program">Program</a></li>
					<li><a href="#inspiration">Inspiration</a></li>
					<li><a href="#about">Om&nbsp;Codemocracy</a></li>
				</ul>
			</nav>
		</header>

		<div id="content">

			<%= yield %>

			<div class="clear">&nbsp;</div>
		</div>

		<div id="footer">
			<div id="sponsors" class="aside">
				<h2>
					<span class="co">Co</span><span class="de">de</span><span class="mocracy">mocracy</span> görs möjligt av:
				</h2>
				<a href="http://www.modul1.se">Modul&nbsp;1</a>
			</div>
		</div>
	</div>
	
</body>
</html>