<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Codemocracy</title>
	<%= stylesheet_link_tag "application.css" %>
</head>
<body>
	<div id="wrapper">
		<header>
			<h1><span class="co">Co</span><span class="de">de</span><span class="mocracy">mocracy</span></h1>
			<p id="time_and_date">
				4&mdash;5&nbsp;sept 
				@ 
				<a href="#map">Modul&nbsp;1</a>
			</p>
			<nav>
				<ul>
					<li><a href="#registration">Anmälan</a></li>
					<!-- <li><a href="#blog">Blogg</a></li> -->
					<!-- <li><a href="#inspiration">Inspiration</a></li> -->
					<!-- <li><a href="#gallery">Galleri</a></li> -->
					<!-- <li><a href="#ideas">Idéer</a></li> -->
					<li><a href="#about">Om&nbsp;Codemocracy</a></li>
				</ul>
			</nav>
		</header>

		<div id="content">

			<%= yield %>

			<div class="clear">&nbsp;</div>
		</div>

		<div id="footer">
			<div id="sponsors" class="aside">
				<h2>
					<span class="co">Co</span><span class="de">de</span><span class="mocracy">mocracy</span> görs möjligt av:
				</h2>
				<a href="http://www.modul1.se">Modul&nbsp;1</a>
			</div>
		</div>
	</div>
	
	<script src="http://www.google.com/jsapi" type="text/javascript" charset="utf-8"></script>
	<script type="text/javascript" charset="utf-8">
	google.load("jquery", "1");

	google.setOnLoadCallback(function() {

		var sections = $('.section');
		var tablinks = $('nav a');
		var initial_tablink; 

		// Check for #hash in url, so we can click the appropriate link
		// if (window.location.hash) {
		//  tablinks.each(function() {
		//      if(this.hash == window.location.hash) {
		//          initial_tablink = $(this);
		//      }
		//  });
		// }
		// if (initial_tablink == undefined) {
		//  initial_tablink = tablinks.filter(':first');
		// }

		tablinks.click(function() {
			sections.hide();
			sections.filter(this.hash).show();
			tablinks.removeClass('selected');
			$(this).addClass('selected');
			return false;
		}).filter(':first').click();
		// initial_tablink.click();

	});
	</script>
</body>
</html>